.metadata
/stb/vovo_android/bin
/stb/vovo_android/gen
/stb/HomePage/bin
/stb/HomePage/gen
/stb/PrimaryApp/bin
/stb/PrimaryApp/gen
/stb/PrimaryApp/obj
/stb/HomePage/gen
/stb/PhoneCommander/gen
/stb/PhoneCommander/bin
/stb/qdui
/stb/test
/stb/lorent_video/bin
Thumbs.db
/testfmj
/testjmf
.gitignore