<configuration>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <Encoding>UTF-8</Encoding>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
            </pattern>
        </layout>
    </appender>
    
	<!-- 按照每天生成日志文件 -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>
			${user.home}\lorent\logs\whiteboard.%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>7</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
			</pattern>
		</layout>
	</appender>

    <logger name="com.lorent" level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.jhotdraw" level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="FILE" />
	</root>
</configuration>