<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lorent.video"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
	<uses-permission android:name="android.permission.INTERNET" /> -->
	<uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:icon="@drawable/vovo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WebVideoActivity"
            android:label="@string/title_activity_showvideo"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.VideoList" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lorent.video.StbShowVideoActivity"
            android:label="@string/title_activity_showvideo"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.lorent.video.SurfaceViewPlayVideo"
            android:label="@string/title_activity_showvideo"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape"
             >
        </activity>
        <activity
            android:name="com.lorent.video.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.vov.vitamio.demo.VideoViewDemo"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            
             >
           
        </activity>
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="landscape" />
    </application>
	
</manifest>